.item {
  cursor: pointer;
  transition: all ease-out 0.1s;
  fill: black;
  color: rgb(186, 135, 41);
  width: 25px;
  height: 25px;
  padding-top: 5px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover {
    fill: dodgerblue;
    transform: scale(1.2);
  }

  .navItemDetail {
    position: fixed;
    width: max-content;
    top: -10px;
    left: 8px;
    transform: translateX(-45%);
    color: rgb(196, 129, 5);
    animation: openModal 0.2s ease-out forwards;
    font-size: 8px;
    @keyframes openModal {
      0% {
        opacity: 0;
        top: -40px;
      }
      25% {
        opacity: 0.1;
        top: -20px;
      }
      50% {
        opacity: 0.2;
        top: -17px;
      }
      75% {
        opacity: 0.4;
        top: -15px;
      }
      100% {
        opacity: 1;
        top: -10px;
      }
    }
  }
}
.active {
  fill: dodgerblue;
  transform: scale(1.2);
}
.disabled {
  cursor: default;
  fill: rgb(164, 164, 164);
  .navItemDetail {
    color: rgb(164, 164, 164);
  }
  &:active {
    pointer-events: none;
  }

  &:hover {
    fill: rgb(164, 164, 164);
    transform: scale(1);
  }
}
.red:hover {
  fill: red;
}
