.item {
  cursor: pointer;
  transition: all ease-out 0.1s;
  fill: rgb(186, 135, 41);
  color: rgb(186, 135, 41);
  width: 25px;
  height: 25px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover,
  .active {
    fill: dodgerblue;
  }

  img {
    display: block;
    border-radius: 50%;
    transform: translateY(-2px);
    transition: all ease-out 0.2s;
  }
}

.red {
  fill: #cb2626;
}

.red:hover {
  fill: red !important;
}

// @media (max-width: 350px) {
//   .item img {
//     width: 20px;
//     height: 20px;
//   }
// }
