.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-5px, -5px);
}
.spinner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid lime;
  animation: up 1s linear infinite;
}

@keyframes up {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(0.5);
  }
}
