.modes {
  position: absolute;
  color: dodgerblue;
  opacity: 40%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: all ease 0.5s;
  user-select: none;
  padding: 0;
  margin-left: 0 !important;
  & > * {
    margin-top: 3px;
    font-size: 12px;
    outline: none;
  }
  button {
    width: 80px;
    padding: 5px;
    margin-top: auto;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background: dodgerblue;
    border-radius: 5px;
    color: white;
    transition: all 0.2s;
    &:hover {
      background: limegreen;
    }
    &:disabled {
      background: rgb(99, 136, 174);
      cursor: default;
    }
  }
  &:hover {
    opacity: 100%;
  }
  @media (max-width: 500px) {
    opacity: 1;
    flex-direction: row;
    & > * {
      padding-left: 10px;
    }
  }
}
