.modes {
  position: absolute;
  color: dodgerblue;
  opacity: 40%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: all ease 0.5s;
  user-select: none;
  padding: 0;
  margin-left: 0 !important;
  & > * {
    margin-top: 3px;
    font-size: 12px;
    outline: none;
  }
  button {
    margin-top: auto;
  }
  &:hover {
    opacity: 100%;
  }
  @media (max-width: 500px) {
    opacity: 1;
    flex-direction: row;
    & > * {
      padding-left: 10px;
    }
  }
}
