.resizer {
  height: 100%;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 229, 221);
  border-radius: 3px;
  font-size: 30px;
  font-weight: bolder;
  cursor: col-resize;
  line-height: 15px;
  user-select: none;
  transition: all ease 0.2s;
  color: gray;
  &:hover {
    background: rgb(164, 164, 164);
    color: white;
  }
  @media (max-width: 500px) {
    width: 100vw;
    color: transparent;
  }
}
