.container {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: max-content;
    max-width: 90%;
    min-width: 70%;
  }
}
