.resizer {
  height: calc(100% - 10px);
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(192, 219, 247);
  border-radius: 3px;
  font-size: 30px;
  font-weight: bolder;
  cursor: col-resize;
  line-height: 15px;
  user-select: none;
  transition: all ease 0.2s;
  color: dodgerblue;

  &:hover {
    background: dodgerblue;
    color: white;
  }
  @media (max-width: 500px) {
    width: 100vw;
    height: 10px;
    color: transparent;
    margin-top: 5px;
  }
}
