.container {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  font-size: 10px;
  color: rgba(29, 101, 174, 0.612);
  span {
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      background: rgba(29, 101, 174, 0.612);
      color: white;
    }
  }
}
