.container {
  width: 100%;
  text-align: right;
  margin: 5px 0 20px 0;
  font-size: 10px;
  color: rgba(29, 101, 174, 0.612);
  user-select: none;
  span {
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    &:hover,
    &.active {
      background: rgba(29, 101, 174, 0.612);
      color: white;
    }
    &.active {
      pointer-events: none;
    }
  }
}
