.item {
  margin: 5px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: var(--backColor);
  transition: transform 0.2s ease-out;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;

  &:hover {
    transform: translateX(-5px);
    background-color: #9d9474;
    color: whitesmoke;
  }
}
