.item {
  margin: 5px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: var(--backColor);
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: #fff1c2;
  }
}
