.editor {
  width: 100vw;
  height: calc(100vh - 7.6rem);
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .resizer {
    height: 100%;
  }
  @media (max-width: 500px) {
    height: calc(100vh - 9.5rem);
    flex-direction: column;
    .resizer {
      pointer-events: none;
      height: 10px;
    }
  }
}
