.problem {
  position: relative;
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    color: var(--colorDifficulty);
    font-size: 14px;
  }

  p {
    margin: 0;
    background: var(--colorP);
    padding: 10px 40px 10px 20px;
    color: rgb(20, 137, 255);
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 5px solid rgb(192, 219, 247);
  }
  textarea {
    flex: 1 1 auto;
    background: var(--colorTextareaBack);
    color: var(--colorTextarea);
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    padding: 5px 20px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }
  button {
    position: absolute;
    right: 5px;
    top: 6px;
    fill: red;
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      // fill: red;
      transform: scale(1.05);
    }
  }
  .consent {
    position: absolute;
    background: rgb(77, 68, 145);
    padding: 15px 15px 0 15px;
    font-size: 12px;
    right: 5px;
    top: 50px;
    color: white;
    border-radius: 5px;
    span {
      font-weight: bolder;
      color: white;
      margin: 10px 20px 15px 20px;
      font-size: 18px;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        transform: scale(2);
      }
      &:first-child:hover {
        color: red;
      }
      &:last-child:hover {
        color: limegreen;
      }
    }
  }
}
