.err {
  color: red;
  margin: 20px;
  opacity: 0;
  animation: blur 4s linear;
  animation-iteration-count: 1;
}

@keyframes blur {
  from {
    opacity: (1);
  }
  25% {
    opacity: (0.75);
  }
  50% {
    opacity: (0.5);
  }
  75% {
    opacity: (0.25);
  }
  100% {
    opacity: (0);
  }
}
