.nav {
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  z-index: 40;
  user-select: none;
  position: relative;
  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease;
    span {
      width: 65px;
      font-size: 10px;
      margin-left: 5px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .search {
    margin: 0 10px;
    font-family: "Lato";
    border: none;
    padding: 0.1rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
    border-radius: 5px;
    background: whitesmoke;
    height: 1.8rem;
    letter-spacing: 1px;
    width: 50%;
    max-width: 400px;
    &:focus {
      background: rgb(229, 247, 253);
    }
    @media (max-width: 600px) {
      width: 200px;
    }
    @media (max-width: 500px) {
      position: absolute;
      left: 0;
      top: 3.5rem;
      margin-left: 1.1rem;
      width: calc(100% - 2.5rem);
      max-width: 500px;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  @media (max-width: 500px) {
    align-items: flex-start;
    height: 6rem;
  }
}
