.nav {
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  z-index: 40;
  user-select: none;
  position: relative;
  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease;
    span {
      width: 65px;
      font-size: 10px;
      margin-left: 5px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  .list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  @media (max-width: 500px) {
    align-items: flex-start;
    height: 6rem;
  }
}
