.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: auto;
  border-top: 1px solid #eaeaea;
  display: flex;

  justify-content: center;
  align-items: center;
}

.footer a {
  width: max-content;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 3px 20px;
  border-radius: 10px;
  transition: all 0.1s ease;
}

.footer span {
  margin-left: 10px;
  line-height: 30px;
}
.footer a:hover {
  transform: scale(1.05);
  color: rgb(160, 106, 5);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
